*{
    padding: 0px;
    margin: 0px;
}
.music_box{
    /*background: #09d3be;*/
    width: 400px;
    height: auto;
    margin-left:  0;
    position: relative;
    border-radius: 5px;
}
.next{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    top: 20%;
    opacity: 0.3;
    color: #00ffe7;
}
.previous{
    display: inline-block;
    position: absolute;
    text-decoration: none;
    top: 50%;
    opacity: 0.3;
    color: #00ffe7;
}
.next:hover{
    opacity: 1;
}
.previous:hover{
    opacity: 1;
}